/* Page consist variable, mixins and keyframes */

/* Variable */
$bgColor : #c3cfe2;
$bgTxtColor : #fff;
$ftrColor : #686de0;



/* Keyframe */

@keyframes changeColor {
    0% {background-color: $bgTxtColor; color:$ftrColor;}
    50% {background-color: $bgColor; color:$bgColor;}
    100% {background-color: $ftrColor; color:$bgTxtColor;}
}
